
body
{
	background-color: #101010;
	background-image: url("/static/img/arceusCropped.png");
	background-repeat: no-repeat;
	background-position: top right;
	background-attachment: fixed;
	background-position-y: -8rem;

	/* background-image: url("/static/img/Arceus_M12.png");
	background-size: cover;
	background-repeat: no-repeat;
	background-attachment: fixed; */

	color: whitesmoke;
}